{%extends "base.html"%} 

{%block title%} 
Home
{% endblock %}
{%block body%}
<div class="container">
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-6">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
  <div class="row">
    <div class="col">
      1 of 3
    </div>
    <div class="col-5">
      2 of 3 (wider)
    </div>
    <div class="col">
      3 of 3
    </div>
  </div>
</div>


<button onclick="getTable()">Import Wall</button>
<button onclick="getTableSlab()">Import Slab</button>

<table id="table" data-search="true" data-height="460" class="table table-bordered border-primary table-hover">
  <thead>
    <tr>
      <th scope="col">IFC Name</th>
      <th scope="col">ifc_definition_id</th>
    </tr>
  </thead>
  <tbody>
  <!-- what goes here? -->

  </tbody>
</table> 






<script>
  const tableBody = document.querySelector('tbody');
  var $table = $('#table');

  function getRandomNumber() {

      url = "/api/datapoint";

      axios.get(url)
      .then(function(response) {

          // The data will all be returned as a JSON object
          // We can access the data by using the data property of the response object

          document.getElementById('randomNumberDiv').innerHTML = response.data.random_number;
      })
      .catch(function(error) {
          console.log(error);
      });
  }

  function getTable() {

      url = "/api/datapoint";
      tableBody.innerHTML = "";

          
      axios.get(url)
      .then(function(response) {
          data = eval(response.data.random_number);
          for (let i = 0; i < data.length; i++) {
              let tr = document.createElement('tr');
              tr.innerHTML = `<td>${data[i][0]}</td>
              <td>${data[i][1]}</td>`
              tableBody.append(tr)
          }
          // The data will all be returned as a JSON object
          // We can access the data by using the data property of the response object


      })
      .catch(function(error) {
          console.log(error);
      });
  }

  function getTableSlab() {

  url = "/api/datapointSlab";
  tableBody.innerHTML = "";

      
  axios.get(url)
  .then(function(response) {
      data = eval(response.data.random_number);
      for (let i = 0; i < data.length; i++) {
          let tr = document.createElement('tr');
          tr.innerHTML = `<td>${data[i][0]}</td>
          <td>${data[i][1]}</td>`
          tableBody.append(tr)
      }
      // The data will all be returned as a JSON object
      // We can access the data by using the data property of the response object


  })
  .catch(function(error) {
      console.log(error);
  });
  }



  // This calls the function getRandomNumber() every 2 seconds
  //var intervalID = window.setInterval(getRandomNumber, 200);
  /**
   * <table>
  <tr>
      <th>Attribute</th>
      <th>Result</th>
  </tr>
  <tr>
      <td>IFC TYPE: </td>
      <td>&nbsp;<span id="randomNumberDiv"></span></td>
    </tr>
</table>
   **/

</script>
{% endblock%}
